@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.header {
    background-color: #1f2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

.header-content h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.sign-header {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}
 .hc-left p {
    font-size: 18px;
    color: #e5e7eb;
 }




ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    max-height: 500px;
}